.elenco-list {
  list-style-type: none;
}

.actor {
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 50px;
}

.actor img {
  filter: grayscale(100%);
  max-height: 150px;
}

.actor p {
  margin-top: 10px;
}

.actor:nth-child(odd) {
  border: 3px solid black;
}

.actor:nth-child(even) {
  background-color: black;
  color: whitesmoke;
}

.actor:nth-child(odd) img {
  border: 3px solid black;
  float: left;
  margin: 20px 40px 20px 0;
}

.actor:nth-child(even) img {
  border: 3px solid whitesmoke;
  float: right;
  margin: 20px 0 20px 40px;
}

.actor:nth-child(odd) h2,
.actor:nth-child(odd) h4 {
  text-align: left;
}

.actor:nth-child(even) h2,
.actor:nth-child(even) h4 {
  text-align: right;
}

@media screen and (max-width: 500px) {
  .actor {
    padding: 20px;
    text-align: center;
  }

  .actor:nth-child(odd) h2,
  .actor:nth-child(odd) h4,
  .actor:nth-child(even) h2,
  .actor:nth-child(even) h4 {
    text-align: center;
  }

  .actor:nth-child(odd) img,
  .actor:nth-child(even) img {
    float: none;
    margin: 20px 0;
  }
}
